@font-face {
   font-family: 'Barlow', sans-serif;
   src: url(./fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
   font-family: 'Fraunces', sans-serif;
   src: url(./fonts/Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Bold.ttf);
}